//background color and text color
// $bgc = background_color  $tc = text_color
@mixin bgc_tc($bgc, $tc){
    background-color: $bgc;
    color: $tc;
}

//clearfix
%clf{
    &:after{
        display: table;
        clear: both;
        content: '';
    }
}


//border
@mixin border($side, $width, $color, $type:solid){
    border-#{$side}: $width $type $color;
}

//col
@mixin col($float, $width, $ml, $cml){
    float:$float;
    width: $width;
    margin-left: $ml;
    &:first-child{
        margin-left: $cml;
    }
}

//col_min
@mixin col_m($float, $width){
    width:$width;
    float:$float;
}
