//color variable
$light_blue: #C7F7FF;
$med_blue: #89C0C9;
$dark_blue: #3a5E63;
$light_brown: #C9A689;
$dark_brown: #7C593C;
$light_grey: #d4d4d4;
$dark_grey: #222;
$white: #fff;

//font-family
$default_font: 'Josefin Sans', 'Trebuchet MS', Helvetica, sans-serif;
$serif: Cardo, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

//width
//$dw = default_width
$dw: 400px;
//$dwp = default_width_percentage
$dwp: 100%;


//font
//default font
$df: 16px;

//default rem
$dr: 1rem;

//normal rem
$nr1: 1.414rem;
$nr2: 3.998rem;

//default ling height
$dlh: 1.6;

//margin auto
$ma: 0 auto;
